= render :partial => 'accounts/status'

%p
  = link_to 'Update', update_billing_account_path(@account.id), class: 'btn btn-primary'
- if @account.last_update
  %p
    Last update at
    = format_datetime @account.last_update